In [15]:
import numpy as np
import pandas as pd

In [17]:
stations_df = pd.read_csv('data/stations.csv')
stations_df

,Unnamed: 0,name,address,north,east,area_type,station_type,station_type_desc,lat,lon
0,1,Pasay,"PAL Cmpd., Andrews Ave., Brgy. 184, Zone 19, P...",14º 31’ 42”,121º 0’ 29”,"Roadside, Paved Road",1,CAMS – Particulate Matter System (PMS),14.528333,121.008056
1,2,Marikina,"Hall of Justice, Open Ground, Marikina City Ha...",14º 38’ 0.28”,121º 05’ 59.4”,"Roadside, Paved Road",1,CAMS – Particulate Matter System (PMS),14.633411,121.099833
2,3,Muntinlupa,"Muntinlupa Bilibid Prison open ground, Muntinl...",14º 23’ 0.58”,121º 2’ 1.23”,"General Ambient, Unpaved Road",1,CAMS – Particulate Matter System (PMS),14.383494,121.033675
3,4,Mandaluyong,"Plaza Hardin, Martinez Highway, Addition Hill,...",14º 35’ 0.228”,121º 2’ 12.54”,"Roadside, Paved Road",1,CAMS – Particulate Matter System (PMS),14.583397,121.036817
4,5,San Juan City,"Pinaglabanan Shrine along Pinaglabanan St., Sa...","14° 36' 20.01""","121° 1' 56.06""","Roadside, Paved Road",1,CAMS – Particulate Matter System (PMS),14.605558,121.032239
5,6,Pateros,"Pateros Elementary School, P. Herrera St., San...","14° 32' 48.47""","121° 4' 0.33""","Roadside, Paved Road",1,CAMS – Particulate Matter System (PMS),14.546797,121.066758
6,7,Las Pinas,"Rohm and Hass Warehouse Compound, CAA Road, La...",14º 27’ 0.234”,120º 59’ 39.753”,"Roadside Ambient, Paved Road",1,CAMS – Particulate Matter System (PMS),14.450065,120.994376
7,8,Navotas,"Navotas City Hall Cmpd., M. Naval Street, Navo...",14º 39’ 27.78”,120º 56’ 51.72”,"Roadside Ambient, Paved Road",1,CAMS – Particulate Matter System (PMS),14.657717,120.947700
8,9,North Caloocan,"Caloocan City Hall Annex Cmpd., Caloocan City",14º 45’ 4.833”,121º 3’ 14.164”,"Roadside Ambient, Paved Road",1,CAMS – Particulate Matter System (PMS),14.751342,121.053934
9,10,Parañaque,"Don Bosco Barangay Hall, Parañaque City",14º 28’ 53.4972”,121º 2’ 17.7288”,"General Ambient, Paved Road",1,CAMS – Particulate Matter System (PMS),14.481527,121.038258
10,11,Pasig,"Country Lodge Cpd., 18 Danny Floro Street, Ora...",14º 34’ 19.497”,121º 3’ 56.012”,"Roadside, Paved Road",1,CAMS – Particulate Matter System (PMS),14.572083,121.065559
11,12,Taguig City,"TUP Taguig Campus, East Service Road, Western ...",14º 30’37.6956”,121º 2’ 9.3228”,"General Ambient, Unpaved Road",1,CAMS – Particulate Matter System (PMS),14.510471,121.035923
12,13,Malabon,"Malabon Polythechnic Institute Cmpd., Gov. A. ...",14º 40’ 15.57”,120º 57’ 3.35”,"Roadside Ambient, Paved Road",1,CAMS – Particulate Matter System (PMS),14.670992,120.950931
13,14,Makati,"Makati Park and Garden, Dr. Jose P. Rizal Exte...",14º 33’ 57”,121º 3’ 20”,"Roadside Ambient, Paved Road",1,CAMS – Particulate Matter System (PMS),14.565833,121.055556
14,15,Manila,"MEHAN Garden Compound, City of Manila",14º 35’ 30”,120º 58’ 50”,"Roadside Ambient, Paved Road",1,CAMS – Particulate Matter System (PMS),14.591667,120.980556
15,16,Ateneo,"Manila Observatory Cmpd., Ateneo de Manila Uni...",14°38’08.49”,121°04’42.77”,"General Ambient, Paved Road",2,Manual – High Volume Samplers TSP,14.635692,121.078547
16,18,Mandaluyong,"Mandaluyong City Hall Cmpd, Maycilo Circle, Pl...",14°33’40.51”,121°02’35.29”,"Roadside, Paved Road",2,Manual – High Volume Samplers TSP,14.561253,121.043136
17,19,DOH Station,"DOH Cmpd, Rizal Avenue, Sta. Cruz, Manila",14°36’57.88”,120°58’57.46”,"Roadside, Paved Road",2,Manual – High Volume Samplers TSP,14.616078,120.982628
18,20,Pasay Station,"PAL Cmpd., Andrews Ave., Brgy. 184, Zone 19, P...",14º 31’ 42”,121º 0’ 29”,"Roadside, Paved Road",2,Manual – High Volume Samplers PM10,14.528333,121.008056
19,21,Marikina Station,"Marikina Sports Complex, Sumulong Hi-way, Sto ...",14°38’07.56”,121°05’32.35”,"Roadside, Paved Road",2,Manual – High Volume Samplers TSP & PM10,14.635433,121.092319
20,22,Makati Station,"Makati Bureau of Fire Cmpd., Ayala Avenue cor....",14°33’45.38”,120°00’55.67”,"Roadside, Paved Road",2,Manual – High Volume Samplers TSP,14.562606,120.015464
21,23,Muntinlupa,"Bilibid Prison open ground cmpd. Bilibid, Munt...",14°23’00.58,121°02’1.23,"General Ambient, Unpaved Road",2,Manual – High Volume Samplers PM10,14.383494,121.033675
22,24,NPO,"National Printing Office Cmpd., EDSA, Diliman,...",14°38’21.25”,121°02’27.74”,"Roadside Ambient, Paved Road",2,Manual – High Volume Samplers PM10,14.639236,121.041039
23,25,MMDA,"MMDA Cmpd, Guadalupe, Makati City",14°33’40.51”,121°02’35.29”,"Roadside Ambient, Paved Road",2,Manual – High Volume Samplers PM10,14.561253,121.043136
24,26,East Avenue,"National Ecology Center Cmpd., East Avenue, Di...",14°38’40.29”,121°02’51.79”,"Roadside Ambient, Paved Road",2,Manual – High Volume Samplers TSP,14.644525,121.047719

In [18]:
pm25_df = pd.read_excel('data/PM2.5_NCR_20172020.xls').replace(r'ND|NoData|<Samp', np.nan, regex=True)
pm25_df[:5]

,Date & Time,Las Pinas Station,Makati Station,Malabon Station,Mandaluyong Station,Manila Station,Marikina Station,Muntinlupa Station,Navotas Station,North Caloocan Station,Paranaque Station,Pasay Station,Pasig Station,Pateros Station,San Juan Station,Taguig Station,UE Caloocan Station
0,01/01/2017 00:00,NaN,0.0,NaN,NaN,NaN,314.63,152.28,454.08,NaN,162.84,NaN,135.68,NaN,NaN,323.76,NaN
1,01/01/2017 01:00,NaN,0.0,NaN,NaN,NaN,NaN,175.40,NaN,NaN,433.05,NaN,307.26,NaN,NaN,320.1,NaN
2,01/01/2017 02:00,321.79,0.0,NaN,NaN,NaN,NaN,23.98,479.77,NaN,300.06,NaN,233.75,NaN,NaN,159.97,NaN
3,01/01/2017 03:00,294.69,0.0,NaN,NaN,NaN,229.58,23.35,230.35,NaN,218.50,NaN,396.51,NaN,NaN,111.47,NaN
4,01/01/2017 04:00,179.18,0.0,NaN,NaN,NaN,88.02,141.65,222.96,NaN,90.28,NaN,339.47,NaN,NaN,258.51,NaN

In [19]:
pm10_df = pd.read_excel('data/PM10_NCR_20172020.xls').replace(r'ND|NoData|<Samp', np.nan, regex=True)
pm10_df[:5]

,Date & Time,Las Pinas Station,Makati Station,Malabon Station,Mandaluyong Station,Manila Station,Marikina Station,Muntinlupa Station,Navotas Station,North Caloocan Station,Paranaque Station,Pasay Station,Pasig Station,Pateros Station,San Juan Station,Taguig Station,UE Caloocan Station
0,01/01/2017 00:00,NaN,391.36,NaN,322.37,NaN,416.14,168.29,490.32,NaN,NaN,NaN,140.89,NaN,282.99,365.61,NaN
1,01/01/2017 01:00,NaN,496.40,NaN,NaN,NaN,720.00,203.80,NaN,NaN,NaN,NaN,328.03,NaN,NaN,359.65,NaN
2,01/01/2017 02:00,254.11,281.59,NaN,382,NaN,657.54,33.85,NaN,189.79,NaN,NaN,250.03,NaN,NaN,175.96,NaN
3,01/01/2017 03:00,234.69,503.61,NaN,339,NaN,285.32,35.21,274.54,142.10,NaN,NaN,408.65,NaN,450.50,131.64,NaN
4,01/01/2017 04:00,120.19,629.83,NaN,294.46,NaN,125.71,148.66,250.84,199.77,NaN,NaN,346.93,NaN,467.70,283.48,NaN

### Test creation of dataframe per station

In [5]:
las_pinas_df = pd.DataFrame({
    "timestamp": pm25_df['Date & Time'],
    "pm25": pm25_df['Las Pinas Station'],
    "pm10": pm10_df['Las Pinas Station']
}).set_index('timestamp')

las_pinas_df

                    pm25    pm10
timestamp
01/01/2017 00:00     NaN     NaN
01/01/2017 01:00     NaN     NaN
01/01/2017 02:00  321.79  254.11
01/01/2017 03:00  294.69  234.69
01/01/2017 04:00  179.18  120.19
...                  ...     ...
31/12/2020 19:00     NaN     NaN
31/12/2020 20:00     NaN     NaN
31/12/2020 21:00     NaN     NaN
31/12/2020 22:00     NaN     NaN
31/12/2020 23:00     NaN     NaN

[35064 rows x 2 columns]

In [6]:
las_pinas_df.describe()

               pm25          pm10
count  11928.000000  16520.000000
mean      44.014292     43.722231
std      112.575446     50.730551
min      -49.370000   -618.810000
25%       11.180000     16.517500
50%       22.245000     34.460000
75%       41.630000     58.810000
max     2572.140000   1468.390000

In [7]:
pm25_df.columns[1:]

Index(['Las Pinas Station', 'Makati Station', 'Malabon Station',
       'Mandaluyong Station', 'Manila Station', 'Marikina Station',
       'Muntinlupa Station', 'Navotas Station', 'North Caloocan Station',
       'Paranaque Station', 'Pasay Station', 'Pasig Station',
       'Pateros Station', 'San Juan Station', 'Taguig Station',
       'UE Caloocan Station'],
      dtype='object')

In [8]:
all_df = None

In [9]:
LOOKUP = {
    'Las Pinas Station': 7,
    'Makati Station': 14,
    'Malabon Station': 13,
    'Mandaluyong Station': 4,
    'Manila Station': 15,
    'Marikina Station': 2,
    'Muntinlupa Station': 3,
    'Navotas Station': 8,
    'North Caloocan Station': 9,
    'Paranaque Station': 10,
    'Pasay Station': 1,
    'Pasig Station': 11,
    'Pateros Station': 6,
    'San Juan Station': 5,
    'Taguig Station': 12,
#     'UE Caloocan Station':
}

for key, value in LOOKUP.items():
    station_df = pd.DataFrame({
        "recorded_time": pd.to_datetime(pm25_df['Date & Time']),
        "pm25": pm25_df[key],
        "pm10": pm10_df[key],
        "station": value,
        "is_published": 1
    }).set_index(['recorded_time', 'station'])
    
#     station_df = station_df[station_df['pm25'].notna() or station_df['pm10'].notna()]
    station_filtered_df = station_df[(station_df['pm25'].notna()) | (station_df['pm10'].notna())]
    station_filtered_df.to_csv(f'data/output/emb/hourly/{key}.csv')
    print(station_filtered_df[:5])
    
    
    if all_df is None:
        all_df = station_filtered_df
    else:
        all_df = pd.concat([all_df, station_filtered_df])

                               pm25    pm10  is_published
recorded_time       station
2017-01-01 02:00:00 7        321.79  254.11             1
2017-01-01 03:00:00 7        294.69  234.69             1
2017-01-01 04:00:00 7        179.18  120.19             1
2017-01-01 05:00:00 7        340.24  271.45             1
2017-01-01 06:00:00 7        112.18  153.27             1
                             pm25    pm10  is_published
recorded_time       station
2017-01-01 00:00:00 14        0.0  391.36             1
2017-01-01 01:00:00 14        0.0  496.40             1
2017-01-01 02:00:00 14        0.0  281.59             1
2017-01-01 03:00:00 14        0.0  503.61             1
2017-01-01 04:00:00 14        0.0  629.83             1
                             pm25    pm10  is_published
recorded_time       station
2017-02-02 09:00:00 13        NaN  126.08             1
2017-02-02 10:00:00 13        NaN  146.22             1
2017-02-02 11:00:00 13        NaN  166.52             1
2017-02-02 12:00:00 13        NaN  158.26             1
2017-02-02 13:00:00 13        NaN  117.34             1
                            pm25    pm10  is_published
recorded_time       station
2017-01-01 00:00:00 4        NaN  322.37             1
2017-01-01 02:00:00 4        NaN     382             1
2017-01-01 03:00:00 4        NaN     339             1
2017-01-01 04:00:00 4        NaN  294.46             1
2017-01-01 05:00:00 4        NaN  272.83             1
                              pm25  pm10  is_published
recorded_time       station
2020-07-16 00:00:00 15       38.37  65.0             1
2020-07-16 01:00:00 15       34.28  60.0             1
2020-07-16 02:00:00 15       25.91  50.0             1
2020-07-16 03:00:00 15       19.95  43.0             1
2020-07-16 04:00:00 15       21.53  42.0             1
                               pm25    pm10  is_published
recorded_time       station
2017-01-01 00:00:00 2        314.63  416.14             1
2017-01-01 01:00:00 2           NaN  720.00             1
2017-01-01 02:00:00 2           NaN  657.54             1
2017-01-01 03:00:00 2        229.58  285.32             1
2017-01-01 04:00:00 2         88.02  125.71             1
                               pm25    pm10  is_published
recorded_time       station
2017-01-01 00:00:00 3        152.28  168.29             1
2017-01-01 01:00:00 3        175.40  203.80             1
2017-01-01 02:00:00 3         23.98   33.85             1
2017-01-01 03:00:00 3         23.35   35.21             1
2017-01-01 04:00:00 3        141.65  148.66             1
                               pm25    pm10  is_published
recorded_time       station
2017-01-01 00:00:00 8        454.08  490.32             1
2017-01-01 02:00:00 8        479.77     NaN             1
2017-01-01 03:00:00 8        230.35  274.54             1
2017-01-01 04:00:00 8        222.96  250.84             1
2017-01-01 05:00:00 8        146.45  183.85             1
                             pm25    pm10  is_published
recorded_time       station
2017-01-01 02:00:00 9         NaN  189.79             1
2017-01-01 03:00:00 9         NaN  142.10             1
2017-01-01 04:00:00 9         NaN  199.77             1
2017-01-01 05:00:00 9         NaN   80.45             1
2017-01-01 06:00:00 9         NaN   76.29             1
                               pm25  pm10  is_published
recorded_time       station
2017-01-01 00:00:00 10       162.84   NaN             1
2017-01-01 01:00:00 10       433.05   NaN             1
2017-01-01 02:00:00 10       300.06   NaN             1
2017-01-01 03:00:00 10       218.50   NaN             1
2017-01-01 04:00:00 10        90.28   NaN             1
                             pm25    pm10  is_published
recorded_time       station
2017-03-16 14:00:00 1         NaN   55.58             1
2017-03-16 15:00:00 1         NaN   50.41             1
2017-03-16 16:00:00 1         NaN  111.24             1
2017-03-16 17:00:00 1         NaN   84.49             1
2017-03-16 18:00:00 1         NaN   63.29             1
                               pm25    pm10  is_published
recorded_time       station
2017-01-01 00:00:00 11       135.68  140.89             1
2017-01-01 01:00:00 11       307.26  328.03             1
2017-01-01 02:00:00 11       233.75  250.03             1
2017-01-01 03:00:00 11       396.51  408.65             1
2017-01-01 04:00:00 11       339.47  346.93             1
                              pm25    pm10  is_published
recorded_time       station
2017-11-01 13:00:00 6          NaN  263.87             1
2017-11-01 14:00:00 6        51.36  134.40             1
2017-11-01 15:00:00 6        36.06   59.83             1
2017-11-01 16:00:00 6        31.44   86.03             1
2017-11-01 17:00:00 6        18.22  141.90             1
                             pm25    pm10  is_published
recorded_time       station
2017-01-01 00:00:00 5         NaN  282.99             1
2017-01-01 03:00:00 5         NaN  450.50             1
2017-01-01 04:00:00 5         NaN  467.70             1
2017-01-01 05:00:00 5         NaN  331.17             1
2017-01-01 06:00:00 5         NaN  116.17             1
                               pm25    pm10  is_published
recorded_time       station
2017-01-01 00:00:00 12       323.76  365.61             1
2017-01-01 01:00:00 12        320.1  359.65             1
2017-01-01 02:00:00 12       159.97  175.96             1
2017-01-01 03:00:00 12       111.47  131.64             1
2017-01-01 04:00:00 12       258.51  283.48             1

In [10]:
all_df.to_csv(f'data/output/emb/hourly/All EMB Stations.csv')